main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: #222831;
}
.front-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.front-img-cont img {
  width: 50%;
}
.spinner-container {
	display: flex;
}
.row{
	margin: 0;
}
.dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dank-ass-loader .row {
  display: flex;
}
.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #0092ca;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px #0092ca);
}
.arrow.down {
  transform: rotate(180deg);
}
.arrow.outer-1 {
  animation-delay: -0.05556s;
}
.arrow.outer-2 {
  animation-delay: -0.11111s;
}
.arrow.outer-3 {
  animation-delay: -0.16667s;
}
.arrow.outer-4 {
  animation-delay: -0.22222s;
}
.arrow.outer-5 {
  animation-delay: -0.27778s;
}
.arrow.outer-6 {
  animation-delay: -0.33333s;
}
.arrow.outer-7 {
  animation-delay: -0.38889s;
}
.arrow.outer-8 {
  animation-delay: -0.44444s;
}
.arrow.outer-9 {
  animation-delay: -0.5s;
}
.arrow.outer-10 {
  animation-delay: -0.55556s;
}
.arrow.outer-11 {
  animation-delay: -0.61111s;
}
.arrow.outer-12 {
  animation-delay: -0.66667s;
}
.arrow.outer-13 {
  animation-delay: -0.72222s;
}
.arrow.outer-14 {
  animation-delay: -0.77778s;
}
.arrow.outer-15 {
  animation-delay: -0.83333s;
}
.arrow.outer-16 {
  animation-delay: -0.88889s;
}
.arrow.outer-17 {
  animation-delay: -0.94444s;
}
.arrow.outer-18 {
  animation-delay: -1s;
}
.arrow.inner-1 {
  animation-delay: -0.16667s;
}
.arrow.inner-2 {
  animation-delay: -0.33333s;
}
.arrow.inner-3 {
  animation-delay: -0.5s;
}
.arrow.inner-4 {
  animation-delay: -0.66667s;
}
.arrow.inner-5 {
  animation-delay: -0.83333s;
}
.arrow.inner-6 {
  animation-delay: -1s;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.reroot{
	transition: all .5s;
	opacity: 0;
}
#root-login {
	background-color: transparent;
    color: #0092ca;
    border: 2px solid #0092ca;
    border-radius: 3px;
    padding: 8px 24px;
    font-size: 12px;
}