.reroot{
	transition: all .5s;
	opacity: 0;
}
.display-none{
	display: none!important;
	opacity: 0;
	height: 0;
	width: 0;
}
.non-seen {
	opacity: 0;
	z-index: -10;
	visibility: hidden;
	width: 0;
	position: absolute;
}
body{
	background-color: #222831;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 12px;
}
.login-card{
	width: 34vw;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-exagon{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
}
.logo-exagon img:first-child{
	width: 50%;
	position: relative;
	top: 0;
}
.logo-exagon img.move:first-child {
	transition: all .5s;
	position: relative;
    top: -135px;
    /*opacity: 0;*/
    z-index: 1;
}
.logo-exagon img.move.vanish:first-child {
	transition: all .5s;
    opacity: 0;
    z-index: 1;
    width: 0;
    height: 0;
}
.disappear {
	opacity: 0;
	position: relative;
    bottom: 163px;
    width: 42%;
    z-index: 20;
    margin-left: 1px;
}
.appear {
	transition: all .5s;
	opacity: 1;
	z-index: 2;
    position: absolute;
    margin-top: 0;
    visibility: visible;
    background-color: #222831;
}
.login-body {
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 100vw;*/
	height: 100vh;
	overflow: hidden;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.hexagon{
	background-image: url(../img/hexagono.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 44vw;
}
/*.bluebee-form-container {
	transition: all .5s;
	opacity: 1;
	z-index: 2;
    position: absolute;
    margin-top: 0;
    visibility: visible;
    background-color: #222831;
}*/
.bluebee-form {
	margin-top: 0;
}
.bluebee-form-container div div, .bluebee-form-container div {
	margin: 3px 0px 0px;
}
.bluebee-form-container div.button-login {
	margin-top: 50px;
}
.button-login a , .button-login button {
	background-color: transparent;
    color: #0092ca;
    border: 2px solid #0092ca;
    border-radius: 3px;
    padding: 10px 45px;
    font-size: 16px;
}
/*css lista*/
.body-list {
	height: 100vh;
	/*width: 100vw;*/
}
.side-bar {
	min-height: 100vh;
	height: auto;
}
.side-bar div p {
	display: flex;
	align-items: center;
}
.body-list, .side-bar {
	display: flex;
    flex-direction: column;
}
.header-page {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 5%;
	/*width: 100vw;*/
	height: 77px;
	background-color: #393e46;
	border: solid 1px #313439;
}
.header-logo-container{
	height: 100%;
}
.header-logo-container img {
	height: 100%;
}
.profile-user{
	color: white; 
}
.profile-user img {
	width: 24px;
}
.user {
	background-color: #57595c;
	border-radius: 50%;
}
.drop-down {
	color: rgba(249, 249, 249, 0.4);
}
.side-bar {
	width: 274px;
	min-width: 274px;
	max-width: 274px;
	padding: 16px;
  	background-color: #393e46;
  	box-shadow: 1px 0 0 0 #313439; 
  	color: white;
}
.side-bar div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0px; 
}
.admin-section {
	display: flex;
	height: 100%;
	width: 100%;
}
.main-content, .campaigns-content, .create-campaign-content {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: flex-start;
	justify-content: space-around;
}
.sections-store, .campaign-box, .dashboard-card {
	width: 30%;
	height: 100px;
	background-color: #393e46;
	border: solid 1px #1f2228;
	margin: 16px;
	padding: 24px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}
.roll {
	color: rgba(127, 128, 131, 0.2);
}
.divider {
	width: 223px;
  	height: 2px;
  	border: solid 1px #313439;
}
i {
	margin-right: 8px;
}
div.sections-store img {
	height: 28px;
	margin-right: 24px;
}
/*cmapañas*/
.campaign-box {
	width: 27%;
	height: 316px;
	margin-right: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: #757679;
}
.campaign-box p span {
	color: white;
	margin-left: 8px;
}
.campaign-box div:last-child{
	height: 100px;
}
.campaign-img {
	height: 100%;
}
.create-campaign {
	align-items: flex-start;
	justify-content: space-around;
	align-content: center;
	color: white;
	padding-left: 70px;
}
.create-campaign a , .create-campaign button, .btn-bb{
	background-color: transparent;
    color: #0092ca;
    border: 2px solid #0092ca;
    border-radius: 3px;
    padding: 8px 24px;
    font-size: 12px;
}
.create-campaign-content {
	min-height: 99vh;
	height: auto;
	width: 100%;
	margin: 24px;
	background-color: #393e46;
	border: solid 1px #1f2228;
}
.create-campaign-card, .dashboard-card {
    width: 100%;
    height: 100%;
    padding: 44px 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.campaign-radio-selector {
	align-items: flex-start;
	width: 100%;
}
.create-campaign-card div.input-field {
	width: 100%;
	margin-bottom: 4%;
    margin-top: 4%;
}
.selector-radio {
	flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.caret {
	color: white!important;
}
.load-file {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: #1f2228;
	font-size: 14px;
	align-items: center;
	justify-content: center;
  	border: dashed 1px #1f2228;
  	margin-top: 20px;
}
.load-file i.material-icons {
	font-size: 60px!important;
}
.input-field-container {
	width: 100%;
	height: 40%;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.buttons-create{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.cont-100 {
	width: 100%;
}
.btn-bb {
	margin: 20px 40px;
}
.juntos {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin: 20px 0px
}
.juntos div {
	margin-right: 24px;
}
.separado {
	width: 100%;
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
svg rect {
	fill: #222831!important;
}
.dashboard-card{
	width: 100%;
	height: auto;
	padding-top: 10px!important;
	padding-left: 32px;
}
.dashboard {
	width: 75%;
}
